body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 1200px) {
    .container{
        width: 1440px;
    }
}

.img-fluid {
  height: 600px;
  background:
    linear-gradient(
      rgba(179,70,50, 0.7),
      rgba(179,70,50, 0.7)
    ),
    url('../img/background.jpeg');
  display: block;
}
/* header */
#header {
  padding: 30px 0;
  height: 92px;
  position: absolute;
  left: 0;
  top: 0;
}

#header #logo {
  float: left;
}

/* navbar */

.nav-menu, .nav-menu * {
  list-style: none;
}

.nav-menu > li {
  float: left;
}

#nav-menu-container {
  float: right;
}

.icon {
  display: none;
}

@media (max-width: 600px) {
  #nav-menu-container {
    display: none;
  }
}

@media (max-width: 600px) {
  .icon {
    display: block;
    text-decoration: none;
    color: #fff;
    float: right;
    right: 0;
    margin-top: 8px;
  }
}

.nav-menu a {
  padding: 0 8px 10px 8px;
  text-decoration: none;
  color: rgba(247, 237, 229, 0.5);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15px;
  margin-right: 20px;
}

.nav-menu a.nav-active {
  color: rgba(247, 237, 229);
}

/* Text-header */
#center-text {
  width: 100%;
  height: 100vh;
}

@media (min-width: 1024px) {
  #center-text {
    background-attachment: fixed;
  }
}

#center-text h1 {
  font-size: 35px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-align: center;
  margin-top: 200px;
}

#scrollDown {
  margin-left: 300px;
}

@media (max-width: 768px) {
  #center-text h1 {
    margin-top: 200px;
    font-size: 20px;
    line-height: 36px;
  }
}

/* scroll down button */

#scrollDown img{
  margin-left: 400px;
  margin-top: 200px;
}

@media (max-width: 768px) {
  #scrollDown img {
    margin-top: 200px;
    text-align: center;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 100px;
  }
}

/* isi */

.intro {
  margin-top: 90px;
  padding-bottom: 70px;
}

.lowongan {
  background-color: rgba(252,252,253);
}

.heading {
  font-weight: bold;
  font-size: 35px;
}

.konten {
  margin-top: 20px;
  line-height: 1.5;
  opacity: 0.5;
  font-size: 17px;
}

.posisi {
  font-weight: bold;
}

#heading-lowongan {
  font-weight: bold;
  font-size: 35px;
  margin-top: 80px;
}

@media (max-width: 768px) {
  #heading-lowongan {
    width: 30%;
    font-size: 30px;
  }
}

.well {
  background-color: #fff;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
}

.top {
  margin-top: 80px;
}

.bottom {
  margin-bottom: 100px;
}

#footer-copy {
  color: rgba(156, 156, 156);
}

.sosmed {
  color: rgba(156, 156, 156);
  float: left;
}

.sosmed-logo {
  margin-top: 5px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  float: right;
}

@media (max-width: 768px) {
  #footer-copy {
    text-align: center;
    width: 60%;
    margin: auto;
  }
}

@media (max-width: 768px) {
  .sosmed, .sosmed-logo {
    display: none;
  }
}

.well button {
  border-color: background-color: rgba(237, 122, 53);
  padding: 10px 50px;
  color: #fff;
  background-color: rgba(237, 122, 53);
  border-radius: 8%;
  margin-top: 10px;
  float: right;
}

.garis, .footer, .clear {
  background-color: rgba(252,252,253);
}

.clear {
  height: 40px;
}
